<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target
      name="log_Info"
      xsi:type="File"
      fileName="${currentdir}/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/Log__INFO__${date:format=yyyy-MM-dd}.txt"
      layout="Level: ${level:uppercase=true}
      ${newline}  Message: ${message}
      ${newline}  Time: ${time}
      ${newline}  CallSite: ${callsite}
      ${newline}  FileName: ${callsite-filename}
      ${newline}  LineNumber: ${callsite-linenumber}
      ${newline}  RequestURL: ${aspnet-request-url}
      ${newline}  QueryString: ${aspnet-request-querystring}
      ${newline}${newline}"
  />
    <target
  name="log_Warn"
  xsi:type="File"
  fileName="${currentdir}/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/Log__WARN__${date:format=yyyy-MM-dd}.txt"
  layout="Level: ${level:uppercase=true}
      ${newline}  Message: ${message}
      ${newline}  Time: ${time}
      ${newline}  CallSite: ${callsite}
      ${newline}  FileName: ${callsite-filename}
      ${newline}  LineNumber: ${callsite-linenumber}
      ${newline}  RequestURL: ${aspnet-request-url}
      ${newline}  QueryString: ${aspnet-request-querystring}
      ${newline}${newline}"
  />
    <target
    name="log_Error"
    xsi:type="File"
    fileName="${currentdir}/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/Log__ERROR__${date:format=yyyy-MM-dd}.txt"
    layout="Level: ${level:uppercase=true}
      ${newline}  Message: ${message}
      ${newline}  Time: ${time}
      ${newline}  CallSite: ${callsite}
      ${newline}  FileName: ${callsite-filename}
      ${newline}  LineNumber: ${callsite-linenumber}
      ${newline}  RequestURL: ${aspnet-request-url}
      ${newline}  QueryString: ${aspnet-request-querystring}
      ${newline}${newline}"
  />
    <target
      name="log_Fatal"
      xsi:type="File"
      fileName="${currentdir}/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/Log__FATAL__${date:format=yyyy-MM-dd}.txt"
      layout="Level: ${level:uppercase=true}
      ${newline}  Message: ${message}
      ${newline}  Time: ${time}
      ${newline}  CallSite: ${callsite}
      ${newline}  FileName: ${callsite-filename}
      ${newline}  LineNumber: ${callsite-linenumber}
      ${newline}  RequestURL: ${aspnet-request-url}
      ${newline}  QueryString: ${aspnet-request-querystring}
      ${newline}${newline}"
  />
  </targets>

  <rules>

    <logger name="*" level="Info" writeTo="log_Info" />
    <logger name="*" level="Warn" writeTo="log_Warn" />
    <logger name="*" level="Error" writeTo="log_Error" />
    <logger name="*" level="Fatal" writeTo="log_Fatal" />

  </rules>
</nlog>